@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "League Spartan", sans-serif;
}
body {
	padding: 30px 24px 31px 24px;
	background-color: #3a4663;
}
header {
	display: flex;
	flex-direction: row;
	color: #fff;
	width: 100%;
	margin-left: 7px;
	margin-bottom: 32px;
}
h1 {
	font-weight: 700;
	font-size: 32px;
	text-align: center;
	margin: 10px 129px 3px 0;
}
#theme {
	font-weight: 700;
	font-size: 12px;
	margin: 26px 26px 5px 1px;
}
#f-r {
	display: flex;
	flex-direction: row;
	margin: 0 0 0 13px;
	gap: 11px;
}
#sec-part-header {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
}
#screen {
	font-weight: 700;
	font-size: 40px;
    width: 100%;
	text-align: right;
	border-radius: 10px;
	padding: 29px 24px 22px 170px;
	background-color: #181f33;
	color: #fff;
	margin-bottom: 24px;
}
article {
    display: inline-flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
	padding: 20px;
    border-radius: 10px;
	background-color: #242d44;
}
button {
    cursor: pointer;
	font-weight: 700;
	font-size: 32px;
	height: 60px;
    width: 64px;
    text-align: center;
    line-height: 29px;
	background-color: #eae3dc;
	border-radius: 5px;
	border: none;
    color: #434A59;
	-webkit-box-shadow: 0px 4px 0px 0px #b3a497;
	box-shadow: 0px 4px 0px 0px #b3a497;
}
.art-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13px;
    width: 100%;
}
#delete {
    background-color: #647198;
    color: #fff;
    font-size: 20px;
    -webkit-box-shadow: 0px 4px 0px 0px #414E73;
	box-shadow: 0px 4px 0px 0px #414E73;
}
#reset {
    width: 133px;
    background-color: #647198;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 0px 0px #414E73;
	box-shadow: 0px 4px 0px 0px #414E73; 
}
#equal {
    color: #fff;
    border-radius: 5px;
    width: 133px;
    background-color: #D03F2F;
    -webkit-box-shadow: 0px 4px 0px 0px #93261A;
	box-shadow: 0px 4px 0px 0px #93261A; 
}
@media screen and (min-width: 421px) {
    body {
        padding: 98px 500px 96px 500px;
    }
    h1 {
        margin-right: 329px;
    }
    #screen {
        width: 86.5%;
    }
    button {
        width: 101px;
    }
    .art-btns {
        gap: 25px;
    }
    #reset {
        width: 227px;
    } 
    #equal {
        width: 227px;
    }
}